.attributeWrapper {
    padding: 30px 0;
    text-align: center;
}

.attributeWrapper :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.attributeWrapper :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.attributeButton {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #2d3a37;
    background-color: #e8e8e8;
    border: none;
    cursor: pointer;
    transition: all 250ms linear;
}

.attributeButton:hover {
    color: white;
    background-color: #0a775a;
}

.attributeButtonSelected {
    composes: attributeButton;
    color: white;
    background-color: #0a775a;
}

.optionWrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 0;
}

.optionGroup {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
}

.optionGroupSelected {
    composes: optionGroup;
    max-height: 150px;
    padding-top: 20px;
    transition: all 400ms linear;
}

.optionGroup label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 0 20px;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.optionGroup label span:hover {
    color: #0a775a;
}

.optionGroup label span::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0  5px 0 0;
    background-color: white;
    border: 2px solid #0a775a;
    border-radius: 50%;
}

.optionGroup label input {
    display: none;
}

.optionGroup label input:disabled + span {
    color: #b7b7b7;
}

.optionGroup label input:disabled + span::before {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.optionGroup label input:checked + span::before {
    background-color: #0a775a;
}


@media(min-width: 920px) {
    .optionGroup label {
        width: 25%;
    }
}